.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.app:before {
  content: "";
  background: url("./assets/background-weather.jpg.jpg") no-repeat center
    center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.frosty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: rgba(58, 58, 58, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.803);
}

.title {
  font-weight: lighter;
  margin-bottom: 1rem;
  font-size: 50px;
}

.title-effect {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80px;
}

.info-text {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}
